.custom-footer {
    background-color: #CEC6FF;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.footer-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}

.footer-item {
    padding: 10px;
}

.footer-svg {
    fill: #fff;
}