.header-svg {
    fill: #D612C8;
    width: 120px;
    height: 120px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.header-list {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;
}

.header-item {
    padding: 5px;
}

.header-item-selected .header-svg {
    fill: #FF00D8;
}

header {
    width: 10%;
    padding: 40px;
    margin: -40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 1;
    justify-content: end;
}

h1 {
    font-family: 'Alien Encounters';
    font-size: 400%;
    color: rgb(18, 249, 138);
}

#my-avatar {
    height: auto;
    width: auto;
}

#my-intro {
    width: 20%;
}