.header-svg {
    fill: #C1B0F5;
    width: 125px;
    height: 125px;
}

.header-list {
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;
}

.header-item {
    padding: 5px;
}

.header-item-selected .header-svg {
    fill: #9696E0;
}

header {
    padding: 40px;
    margin: -40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: 1;
    justify-content: end;
}

#my-avatar {
    height: auto;
    width: auto;
}

#my-intro {
    width: 20%;
}