.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    text-transform: uppercase;
}

.swiper {
    width: 75%;
    display: flex;     
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #FF00D2 !important;
}

@media (max-width: 1200px) {
    .swiper {
        display: none;
    }

    .swiper-slide {
        display: none;
    }
} 