.project-container {
    position: relative;
}

.project-container-header {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid;
}

/* .header-icon {
    padding: 0;
    margin: 0;
} */

.project-container .project-info {
    position: absolute;
    top: 50px;
    left: 25px;
    opacity: 0;
}

.project-container:hover .project-info {
    opacity: 1;
}

.project-container img {
    opacity: .4;
    height: 300px;
    width: 100%;
    border: 5px solid #9696E0;
}

.project-container:hover img {
    box-shadow: 0px 1px 2px 0px #6BDAFD,
        1px 2px 4px 0px #6BDAFD,
        2px 4px 8px 0px #6BDAFD,
        2px 4px 16px 0px #6BDAFD;
    opacity: 0.6;
}

.project-name {
    font-family: 'VT323', monospace;
    font-size: 200%;
    text-decoration: none;
}